<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- Your index route is your home route, so it must redirect the users to the views you want them to have access,
in this case the list of drones route "/drones". Otherwise, the user must manually go to the url and add the endpoint
in order to be able to get there, which they will not know how to --}}